
.statistic-title[data-v-50b06b1c] {font-size: 12px;color: #999;margin-bottom: 10px;display: flex;align-items: center;}
.statistic-tips[data-v-50b06b1c] {margin-left: 5px;}
.statistic-content[data-v-50b06b1c] {font-size: 20px;color: #333;}
.statistic-content-value[data-v-50b06b1c] {font-weight: bold;}
.statistic-content-prefix[data-v-50b06b1c] {margin-right: 5px;}
.statistic-content-suffix[data-v-50b06b1c] {margin-left: 5px;font-size: 12px;}
.statistic-description[data-v-50b06b1c] {margin-top: 10px;color: #999;}
[data-theme='dark'] .statistic-content[data-v-50b06b1c] {color: #d0d0d0;}

